/* The container */
.container{margin:50px 0 50px 208px;outline:0;float:left}

/* Secondary pages */
.secondary{position:relative;z-index:3}
    .secondary h2,.secondary h3{border-bottom:1px solid #CCC;padding-top:20px}

/* The navigation */
#navigation{position:fixed;top:50px;left:20px;width:115px;background:#FFF;color:#222;padding:25px;outline:0}

    #webBook{font-size:30px;color:#333;font-weight:bold;letter-spacing:-2px;margin:0;padding:0 0 15px;text-shadow:1px 1px 1px #FFF}
        #webBook span{font-weight:normal}

    #navigation ul{margin:0;padding:0;list-style:none}
    #navigation li{padding:4px 0 4px}
    #navigation a{color:#666;text-decoration:none;border-bottom:1px solid #CCC;padding-bottom:2px;padding-right:4px}
        #navigation a:hover{border-bottom:1px solid #555}

    #navigation .icon{padding-left:24px}
        #navigation .icon-book{background:url(../img/icon-book.png?v=0.4) no-repeat 4px 0}
        #navigation .icon-character{background:url(../img/icon-character.png?v=0.2) no-repeat 4px 0}
        #navigation .icon-location{background:url(../img/icon-location.png?v=0.2) no-repeat 4px 0}
        #navigation .icon-scrapbook{background:url(../img/icon-scrapbook.png?v=0.5) no-repeat 4px 0}
        #navigation .icon-tag{background:url(../img/icon-tag.png?v=0.2) no-repeat 4px 0}
        #navigation .icon-todo{background:url(../img/icon-todo.png?v=0.3) no-repeat 4px 0}
        #navigation .icon-timeline{background:url(../img/icon-timeline.png?v=0.2) no-repeat 4px 0}
        #navigation .icon-snapshot{background:url(../img/icon-snapshot.png?v=0.2) no-repeat 4px 0}
        #navigation .icon-chapter{background:url(../img/icon-chapter.png?v=0.2) no-repeat 4px 0}
        #navigation .icon-comment{background:url(../img/icon-comment.png?v=0.2) no-repeat 4px 0}
        #navigation .icon-private{background:url(../img/icon-private.png?v=0.4) no-repeat 4px 0}
        #navigation .icon-target{background:url(../img/icon-target.png?v=0.1) no-repeat 4px 0}
        #navigation .icon-fullscreen{background:url(../img/icon-fullscreen.png?v=0.3) no-repeat 6px 0}
        #navigation .icon-settings{background:url(../img/icon-settings.png?v=0.2) no-repeat 4px 0}

/* The outline */
#outline{position:fixed;top:50px;left:208px;width:800px;background:rgba(255, 255, 255, .95);color:#222;padding:25px;outline:0;border-bottom:2px solid #CCC}
    #outline ul{margin:0;padding:0;list-style:none}
        #outline ul ul{display:none;padding-left:30px;list-style:square;color:#DDD}
    #outline li{padding:3px 0}
    #outline a{color:#666;text-decoration:none;border-bottom:1px solid #CCC;padding-bottom:2px}
        #outline a:hover{border-bottom:1px solid #555}
        #outline ul ul li{margin:0;padding:0}
        #outline ul ul a{font-size:13px}

    #outline a.outline-expand{border-bottom:0;font-weight:bold;font-size:12px}
        #outline a.outline-expand:hover{color:#F00}

/* Status indicator */
#status-indicator{display:none;position:fixed;top:0;right:0;background:#FFF}
    #status-indicator p{margin:0;padding:5px}

/* Insert section */
#section-insert{display:none;position:absolute;z-index:9;background:#FFF;border-radius:4px}
    #section-insert p{margin:0;padding:0 5px;line-height:15px;text-align:right}
    #section-insert a{color:#888;text-decoration:none;font-size:12px}
        #section-insert a:hover{text-decoration:underline;color:#080}
        #section-insert a#section-insert-delete:hover{color:#9B0026}