/* Page distribution */
.page-distribution .textbox{margin:0}

/* Target */
.target-pill-parent{width:99%;border:1px solid #CCC;border-radius:8px;padding:2px;box-shadow:2px 2px 2px #EEE}
	 .target-pill-background{background:#F5F5F5;border-radius:6px}
		 .target-pill-percent{height:26px;width:0px;padding-top:2px;background:#f47c20;border-radius:6px;text-align:right;color:#FFF}
		 .target-pill-percent span{display:none;padding-right:4px;font-size:12px;text-shadow:1px 1px 1px #f47c20}
#target-word-count{width:60px}
#target-date{width:125px}
#target-graph{width:690px;height:250px;margin-bottom:40px}
	#target-graph td{border-bottom:0}

/* Chapter overview */
#chapter-overview{list-style:none;margin:35px 0 0;padding:0}
	#chapter-overview li{margin:0 0 20px;padding:0;border-bottom:1px dotted #CCC}
		#chapter-overview span,#chapter-overview em{display:block;margin-bottom:-8px;padding:0 5px;background:#FFF}
			#chapter-overview span{float:left}
			#chapter-overview strong{padding-right:5px}
			#chapter-overview em{float:right}

/* Snapshots */
#snapshots{border-radius:8px;overflow:hidden}

/* Entities (Characters, Locations, etc.) */
.entities{list-style:none;margin:0;padding:0}
	.entities li{float:left;margin:0 20px 0 0;padding:0;text-align:center}
		.entity-insert,.entities img{width:90px;height:90px;margin-top:10px;border:2px solid #FFF;border-radius:90px;box-shadow:0 0 15px #BBB}

		.entity-insert{display:block;height:55px;padding-top:35px;font-size:40px;color:#CCC;text-decoration:none}
			.entity-insert:hover{color:#AAA}

	/* Modal view */
	.modal-entity-view{text-align:center}
		.modal-entity-view img{margin-top:10px;width:160px;height:160px;border:2px solid #FFF;border-radius:160px;box-shadow:0 0 15px #BBB}
	.modal-group-entity-view,.modal-entity-insert,.modal-character-update,.modal-timeline-update{width:350px !important;height:470px !important;margin-left:-190px !important}
	.modal-group-entity-view{height:180px !important}