body{position:relative;margin:0;padding:0}

:focus{outline:0}

.none{display:none}
.hide{visibility:hidden}
.left{float:left}
.right{float:right}
.text-left{text-align:left}
.text-center{text-align:center}
.text-right{text-align:right}

h1,h2,h3{font-weight:normal}
h1{font-size:45px}
h2{font-size:24px}
h3{font-size:19px}
em{color:#888}
hr{background:transparent;color:transparent;border:none;margin:20px 0;padding:0;border-bottom:1px dotted #CCC}

/* Custom styles */
.url{background:#F5F5F5;font-family:Monaco,Courier;border:1px solid #DDD;padding:4px 8px;font-size:12px;width:auto;min-width:400px}

.notice,.error,.success{padding:10px}
    .notice{background:#FEEFB3;border:2px solid #EEE0A7}
    .error{background:#F4E6E6;border:2px solid #F4D0D0}
    .success{background:#E7F9BE;border:2px solid #C9F36C}
        .notice h3,.error h3,.success h3{margin:0;padding:0}
        .notice p,.error p,.success p{margin:0;padding:10px 0 0}

/* Thanks to: http://vesess.com/sandbox/form_template.html */
label,.textbox,textarea{float:left}
label{width:165px;margin-top:4px}
.textbox,textarea,select{margin-bottom:.75em;padding:3px 5px;width:300px;font:14px/1.5em Helvetica,Arial;color:#111}
    select,select option{font-size:16px !important}
.textbox,textarea{border:1px solid #CCC}
textarea{overflow:auto}
.focus{border:1px solid #AAA}
textarea{font:16px/1.5em Arial,Helvetica,"Liberation sans","Bitstream Vera Sans",sans-serif;height:175px}
.nofloat{float:none}
form br{clear:both}

/* Tables */
table{width:100%;border-collapse:collapse}
    tr{}
        th,td{text-align:left;padding:6px}
        th{border-bottom:3px solid #CCC;background:#F5F5F5}
        td{border-bottom:1px solid #CCC}
.barebones{width:auto}
    .barebones td{border-bottom:0}

/* Thanks to: http://www.webdesignerwall.com/demo/css-buttons.html */
.button{display:inline-block;zoom:1;*display:inline;vertical-align:baseline;margin:0 2px;outline:none;cursor:pointer;text-align:center;text-decoration:none;font:14px/100% Arial,Helvetica,sans-serif;padding:.5em 2em .55em;text-shadow:0 1px 1px rgba(0,0,0,.3);-webkit-border-radius:.5em;-moz-border-radius:.5em;border-radius:.5em;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2)}
.button:hover{text-decoration:none}
.button:active{position:relative;top:1px}
.bigrounded{font-size:13px;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em}
.medium{font-size:12px;padding:.4em 1.5em .42em}
.small{font-size:11px;padding:.2em 1em .275em}
/* Orange */
.orange{color:#fef4e9;border:solid 1px #da7c0c;background:#f78d1d;background:-webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));background:-moz-linear-gradient(top,  #faa51a,  #f47a20);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20')}
.orange:hover{background:#f47c20;background:-webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));background:-moz-linear-gradient(top,  #f88e11,  #f06015);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015')}
.orange:active{color:#fcd3a5;background:-webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));background:-moz-linear-gradient(top,  #f47a20,  #faa51a);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a')}
/* Red */
.red{color:#faddde;border:solid 1px #980c10;background:#d81b21;background:-webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));background:-moz-linear-gradient(top,  #ed1c24,  #aa1317);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317')}
.red:hover{background:#b61318;background:-webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));background:-moz-linear-gradient(top,  #c9151b,  #a11115);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115')}
.red:active{color:#de898c;background:-webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));background:-moz-linear-gradient(top,  #aa1317,  #ed1c24);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24')}
/* White */
.white{color:#606060;border:solid 1px #b7b7b7;background:#fff;background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));background:-moz-linear-gradient(top,  #fff,  #ededed);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');text-shadow:none}
.white:hover{background:#ededed;background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));background:-moz-linear-gradient(top,  #fff,  #dcdcdc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc')}
.white:active{color:#999;background:-webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));background: -moz-linear-gradient(top,  #ededed,  #fff);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff')}